*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.main{
    width: 40%;
    margin: 80px;
}
.main h1{
    font-size: 36px;
    margin: 20px 0;
}
.main p{
    font-size: 20px;
    color: #52525A;
    margin-bottom: 40px;
}
.main div{
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}
.main div p{
    margin-top: 35px;
    padding-left: 5px;
    font-size: 16px;
}
.main div img{
    width: 40px;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ratings{
    width: 40%;
    margin-top: 130px;
}
.star5 {
    width: 100px;
    
}
.star5 img{
    width: 100%;
}
.star4 {
    width: 100px;
    
}
.img1 {
    width: 100%;

}
.img2{
    width: 35px;
}
.star4 h1{
    display:flex;
}
.star1{
    margin-bottom: 80px;
    background-color: aliceblue;
    width: 60%;
    padding: 40px 25px;
    border-radius: 15px;
    position: relative;
    left: 140px;

}
.star2{
    margin-bottom: 80px;
    background-color: aliceblue;
    width: 60%;
    padding: 40px 25px;
    border-radius: 15px;

}
.star5{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

}
.star4{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

}
.star5 h1{
    margin-left: 10px;
}
.star4 h1{
    margin-left: 10px;
}
@media screen and (max-width:576px) {
    section{
        flex-direction: column;
    }
    .ratings{
        width: 100%;
        padding-left:10px ;
    }
    .main{
        width: 100%;
        padding-left: 10px;
        
    }
    .star1{
        width: 70%;
      
        
        position: relative;
        left: 40px;
    
    }
    .star2{
        width: 70%;
    }
}